.navbar {border-radius: 0;}
.navbar-inverse {
    background-color: green;
    border: none;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    background-color: rgba(0, 128, 0, 0.795);
}

.navbar-brand #logo {width: 130px;}
.navbar-inverse .navbar-nav>li>a {
    color: yellow;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: yellow;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-inverse .navbar-toggle {
    border-color: yellow;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: none;
}

/* section */
.thumbnail a img {width: 100%; object-fit: cover;aspect-ratio: 4/3;}
.carousel-inner .item img {width: 100%; aspect-ratio: 12/4; object-fit: cover;}
.thumbnail:hover{
    transform: scale(1.1);
}
.thumbnail:hover a img{
    filter: grayscale(60%);
}

.text-danger{
    font-weight: bold;
}
.tieude{
    display: flex;
    align-items: center;
    text-align: justify;
}
.anh1{
    padding-right: 67%;
    height: 195px;
}
#name{
    font-family: cursive;
}
.list-group{
    width: 265px;
    padding-left: 10px;
}




